<div>
    <div class="list-group">
        <p class="list-group-item active">
            Active Game
        </p>
        <p class="list-group-item" ng-repeat="game in currentActiveGames">
           <b>UserName:</b> {{game.firstPlayerUserName}}  <b>CraationTime:</b> {{game.creationDate}}
            <button data-game-id ="{{game.id}}" class="btn btn-primary  btn-info btn-xs" data-ng-click="joinGame($event)">J
                oin &raquo
            </button>
        </p>
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="activeGames()">
    Refresh
</button>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="createGame()">
        Create new game
    </button>
</div>
